mat-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.15);
    text-align: center;
}

button {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}