<div class="main-container" cdkDropListGroup>

    <div class="toDo-container">

        <h2>To Do</h2>

        <div class="list" cdkDropList [cdkDropListData]="tasks" (cdkDropListDropped)="drop($event)"
            [class.empty]="tasks.length === 0">

            <span class="currently-empty-span" *ngIf="tasks.length === 0">currently empty</span>

            <p class="task" *ngFor="let task of tasks; index as i" cdkDrag>

                <span>{{ task.title }}</span>

                <mat-icon mat-button [matMenuTriggerFor]="menu" class="menu-btn">more_vert</mat-icon>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item class="item-btn info" (click)="showTaskDetails(task)">
                        <mat-icon>info</mat-icon>
                        See details
                    </button>
                    <button mat-menu-item class="item-btn edit" (click)="editTask(task, i, tasks)">
                        <mat-icon>edit</mat-icon>
                        Edit
                    </button>
                    <button mat-menu-item class="item-btn delete" (click)="deleteTask(i, tasks)">
                        <mat-icon color="warning">delete</mat-icon>
                        Delete
                    </button>
                </mat-menu>

            </p>

        </div>

    </div>

    <div class="inProgress-container example-container">

        <h2>In Progress</h2>

        <div class="list" cdkDropList [cdkDropListData]="inProgress" (cdkDropListDropped)="drop($event)"
            [class.empty]="inProgress.length === 0">

            <span class="currently-empty-span" *ngIf="inProgress.length === 0">currently empty</span>

            <p class="task" *ngFor="let task of inProgress; index as i" cdkDrag>

                <span>{{ task.title }}</span>

                <mat-icon mat-button [matMenuTriggerFor]="menu" class="menu-btn">more_vert</mat-icon>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item class="item-btn info" (click)="showTaskDetails(task)">
                        <mat-icon>info</mat-icon>
                        See details
                    </button>
                    <button mat-menu-item class="item-btn edit" (click)="editTask(task, i, inProgress)">
                        <mat-icon>edit</mat-icon>
                        Edit
                    </button>
                    <button mat-menu-item class="item-btn delete" (click)="deleteTask(i, inProgress)">
                        <mat-icon color="warning">delete</mat-icon>
                        Delete
                    </button>
                </mat-menu>

            </p>

        </div>

    </div>

    <div class="testing-container example-container">

        <h2>Testing</h2>

        <div class="list" cdkDropList [cdkDropListData]="testing" (cdkDropListDropped)="drop($event)"
            [class.empty]="testing.length === 0">

            <span class="currently-empty-span" *ngIf="testing.length === 0">currently empty</span>

            <p class="task" *ngFor="let task of testing; index as i" cdkDrag>

                <span>{{ task.title }}</span>

                <mat-icon mat-button [matMenuTriggerFor]="menu" class="menu-btn">more_vert</mat-icon>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item class="item-btn info" (click)="showTaskDetails(task)">
                        <mat-icon>info</mat-icon>
                        See details
                    </button>
                    <button mat-menu-item class="item-btn edit" (click)="editTask(task, i, testing)">
                        <mat-icon>edit</mat-icon>
                        Edit
                    </button>
                    <button mat-menu-item class="item-btn delete" (click)="deleteTask(i, testing)">
                        <mat-icon color="warning">delete</mat-icon>
                        Delete
                    </button>
                </mat-menu>

            </p>

        </div>

    </div>

    <div class="done-container example-container">

        <h2>Done</h2>

        <div class="list" cdkDropList [cdkDropListData]="done" (cdkDropListDropped)="drop($event)"
            [class.empty]="done.length === 0">

            <span class="currently-empty-span" *ngIf="done.length === 0">currently empty</span>

            <p class="task" *ngFor="let task of done; index as i" cdkDrag>

                <span>{{ task.title }}</span>

                <mat-icon mat-button [matMenuTriggerFor]="menu" class="menu-btn">more_vert</mat-icon>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item class="item-btn info" (click)="showTaskDetails(task)">
                        <mat-icon>info</mat-icon>
                        See details
                    </button>
                    <button mat-menu-item class="item-btn edit" (click)="editTask(task, i, done)">
                        <mat-icon>edit</mat-icon>
                        Edit
                    </button>
                    <button mat-menu-item class="item-btn delete" (click)="deleteTask(i, done)">
                        <mat-icon color="warning">delete</mat-icon>
                        Delete
                    </button>
                </mat-menu>

            </p>

        </div>

    </div>

</div>